<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="text-center text-white bg-light">
            <h1 class="bg-dark mt-3 p-3">Olympic Games Countries</h1>

            @if (TempData["message"] != null)
			{
                <h4 class="bg-success p-2">@TempData["message"]</h4>
			}

            @if (!ViewContext.View.Path.Contains("Favorites"))
			{
                var session = new OlympicSession(Context.Session);
                <h5 class="bg-dark p-2">
                    <a asp-controller="Favorite" class="text-white">My Favorite Olympic Countries</a>
                    <span class="badge badge-light text-dark">@(session.GetMyCountryCount())</span>
                </h5>
			}
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
